body {
  background-color: rgb(242,145,91);
  text-align: center;
  margin: 1%;
  font-family: Georgia, serif;
}

html{
  height: 100%;
  width: 100%;
}


#myCanvas {
  border: 2px solid black;
  margin: 5px;
}

.container{
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(66,95,117);
  justify-content: center;
  padding-bottom: 20px;
  border: 12px outset rgb(8,27,114);
}

.pic{
  height: 600px;
  width: 400px;
  object-fit: cover;
  border: 2px solid black;
  margin: 5px;
}


h2{
  color: rgb(249,249,247);
  font-family: arial, serif;
  text-align: center;
}

